.navbar-white {
    width:                  100%;
    height:                 100px;
    max-height:             150px;
    display:                flex;
    align-items:            center;

}

.navbar-logo-container {
    width:                  50%;
    height:                 105px;
    max-height:             130px;
}

.navbar-icons-container {
    width:                  50%;
    height:                 80px;
    max-height:             130px;
    display:                flex;
}

.navbar-icons-container p{
    font-size:              20px;
    margin-top:             25px;
}

.vl {
    border-left:            1px solid #447EBA;
    height:                 65%;
    margin-left:            50px;
    margin-top:             15px;
}

.hero-carousel-container{
    width:                  100%;
    height:                 575px;
}

.carousel-caption{
    margin-bottom:          30%;
    left:                   7%;
    right:                  65%;

}

.carousel-caption h1{
    text-align:             left;
    font-size:              35px;
}

.highlights{
    width:                  100%;
    height:                 800px;
    background-image:       url("/Media/Imagenes/iconos.png");
    background-size:        cover;
    background-repeat:      no-repeat;
    background-position-x:  center;
    padding-top:            85px;
    font-size:              25px;
    font-weight:            900;
    color:                #ffffff;
    display:                flex;
    flex-direction:         column;
    align-items:            center;
}

.banner-exito{
    width:                  100%;
    height:                 500px;
    background-color:       #1560a4;
    display:                flex;
    align-items:            center;
    justify-content:        center;
}

.high-container{
    display:                flex;
    width:                  95%;
    height:                 500px;
    margin-top:             90px;

}

.hcard{
    display:                flex;
    flex-direction:         column;
    width:                  20%;
    height:                 100%;
    margin-left:            15px;
}

.icon-Images{
    width:                  200px;
    height:                 200px;
    min-width:              200px;
    min-height:             200px;
    margin:                 auto;
    margin-top:             10px;
    margin-bottom:          40px;
}

.white-msg{
    font-size:              15px;
    color:                  #1560a4;
    text-align:             center;
    margin-top:             40px;
    background-color:       #ffffff;
    padding-top:            20px;
    padding-bottom:         5px;
    padding-left:           10px;
    padding-right:          10px;
    height:                 115px;

}

.marcas-container{
    width:                  100%;
    height:                 500px;
    background-color:       #ffffff;
}


#footer{
    background-color:       #1560a4;

}

.footer-section{
    display:                flex;
    flex-direction:         column;
    width:                  25%;
    height:                 100%;
    align-items:            center;
    justify-content:        center;
    margin-left:            37px;
    padding:                40px 0px 40px 0px;

}



#navbar-logo {
    max-width:              280px;
    margin-left:            15%;
    margin-top:             6px;
}

#navbar-mail-icon {
    max-width:              50px;
    max-height:             50px;
    margin-left:            10%;
    margin-top:             15px;
}

#navbar-phone {
    max-width:              50px;
    max-height:             50px;
    margin-left:            10%;
    margin-top:             15px;
}

#navbar-facebook {
    max-width:              40px;
    max-height:             40px;
    margin-top:             20px;
}
#navbar-instagram {
    max-width:              40px;
    max-height:             40px;
    margin-top:             20px;
}



/* Slider */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    margin-top: 85px;
    margin-bottom: 85px;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

